@model FyakselA.UI.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <!-- Указание действия для формы и метод POST -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Отображение ошибок валидации -->
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> <!-- Метка для поля "Name" -->
                <input asp-for="Name" class="form-control" /> <!-- Поле ввода для "Name" -->
                <span asp-validation-for="Name" class="text-danger"></span> <!-- Ошибка валидации для "Name" -->
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label> <!-- Метка для поля "Author" -->
                <input asp-for="Author" class="form-control" /> <!-- Поле ввода для "Author" -->
                <span asp-validation-for="Author" class="text-danger"></span> <!-- Ошибка валидации для "Author" -->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> <!-- Кнопка отправки формы -->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> <!-- Ссылка для возврата к списку книг -->
</div>

@* Подключение валидационного скрипта *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" /> <!-- Подключение скриптов для валидации -->
}