
@{
    ViewData["Title"] = "LayoutDemo";
}
<!-- class="badge bg-danger"  -->
<div class="badge bg-danger">Разметка из представления</div>

<!-- Изменения в Footer -->
@section Footer
{
    <h2>Footer из представления</h2>
}


